
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title }}{% else %}Console Voorraad - consoles, gamevoorraden, nieuwste consoles, gaming producten{% endif %}</title>
<meta name="description" content="Bekijk de nieuwste consoles, gamevoorraden en accessoires. Altijd de laatste voorraad updates en snel overzicht.">
 <meta name="keywords" content="consoles, gaming, voorraad, gamevoorraden, nieuwste consoles, PS5, Xbox, Nintendo, voorraad updates">

 <meta name="robots" content="index, follow">

 <link rel="icon" type="image/x-icon" href="/assets/logo.png">
<meta property="og:title" content="Vind snel en eenvoudig de nieuwste consoles bij ConsoleVoorraad.nl">
<meta property="og:description" content="Bekijk de nieuwste voorraad consoles, gameaccessoires en gamingproducten bij ConsoleVoorraad.nl">

<script src="https://cdn.tailwindcss.com"></script>


<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap" rel="stylesheet">

<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YEZYNWCN4M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YEZYNWCN4M');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1194105139225227"
     crossorigin="anonymous"></script>
<script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        'primary': '#396EEC',
        'primary-dark': '#000000',
        'dark': '#0b0b12',
        'dark-light': '#1F192E',
        'gradient-start': '#A156A8', // Begin van de gradient
        'gradient-end': '#486CE4',  // Eind van de gradient
      },
      animation: {
        'gradient': 'gradient 8s linear infinite',
      },
      keyframes: {
        gradient: {
          '0%, 100%': {
            'background-size': '200% 200%',
            'background-position': 'left center'
          },
          '50%': {
            'background-size': '200% 200%',
            'background-position': 'right center'
          },
        },
      },
      fontFamily: {
        sans: ['Urbanist', 'sans-serif'], // Voeg Urbanist hier toe
      },
    },
  },
}
</script>


<style>
.gradient-text {
  background: linear-gradient(to right, #486CE4, #486CE4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.grid-bg {
  background-image: linear-gradient(to right, rgba(16, 185, 129, 0.1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(16, 185, 129, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}




@keyframes slideIn {
from {
opacity: 0;
transform: translateX(20px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

.animate-slideIn {
animation: slideIn 0.5s ease-out forwards;
}

.slider-slide {
opacity: 0;
transition: opacity 0.5s ease-out;
}

.slider-slide:not(.hidden) {
opacity: 1;
}

/* Gradient Background */
.radial-gradient-bg {
position: absolute;
inset: 0;
background: radial-gradient(
circle at center,
rgba(79, 70, 229, 0.15) 0%,
rgba(109, 40, 217, 0.1) 25%,
rgba(0, 0, 0, 0) 70%
);
pointer-events: none;
}

.radial-gradient-bg::before {
content: '';
position: absolute;
inset: 0;
background: radial-gradient(
circle at center,
rgba(79, 70, 229, 0.1) 0%,
transparent 70%
);
animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
0% {
transform: scale(1);
opacity: 1;
}
50% {
transform: scale(1.1);
opacity: 0.8;
}
100% {
transform: scale(1);
opacity: 1;
}
}
</style>